{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-5 col-sm-offset-4">
            <div class="well">
                {{ form_start(form, {attr: {'novalidate':true}}) }}
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.forgot_password'|trans }}</legend>
                        <p>{{ 'page.forgot_password.text'|trans }}</p>
                        {{ form_row(form.email) }}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ 'action.request_password'|trans }}
                        </button>
                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
