{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
            <img src="{{ asset('logo.png') }}">
        </div>
    </div>

    <p class="spacer-medium"></p>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="well">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'label.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'label.password'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                        </button>
                        <p><a href="{{ path('security_request_password') }}">{{ 'action.forgot_password'|trans }}</a></p>

                    </fieldset>
                </form>

                <p>{{ 'messages.email_to_register'|trans({'%mail%': 'brokoskokoli@gmail.com'})|purify }}</p>
            </div>
        </div>

    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
