{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
#}

{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('front/recipes/_delete_recipe_confirmation.html.twig') }}
{% endif %}

{{ form_start(form, {'attr': {'id': 'recipe_form'}}) }}
    {{ include('front/recipes/_form_rows.html.twig', {
        form: form,
        ingredientList: ingredientList,
        recipeTags: recipeTags,
        recipeLists: recipeLists
    }, with_context = false) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_recipe'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('recipes_list_my') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
