

<article class="recipe_list_with_details">
    <div class="row">
        <div class="col-md-8">
            <h2>
                <a href="{{ path('recipes_show', {slug: recipe.slug}) }}">
                    {{ recipe.title }}
                </a>
            </h2>

            <p class="recipe-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ recipe.createdAt|localizeddate('long', 'none', null, null) }}</span>

                <span class="metadata"><a href="{{ path('user_profile', {'username': recipe.author.username}) }}"><i class="fa fa-user"></i> {{ recipe.author.fullName }}</a></span>

            </p>

            {{ recipe.summary|default('')|md2html }}
            {% if recipe.ratingGlobal %}
                <span class="metadata">{{ recipe.ratingGlobal|rating(5, "fa-norm", true) }} ({{ recipe.ratingGlobal }})</span>
            {% endif %}
            {{ include('front/recipes/_recipe_tags.html.twig') }}
        </div>
        <div class="col-md-4">
            {% if recipe.images|length > 0 %}
                <img class="smallimage" src="{{ vich_uploader_asset(recipe.images[0], 'imageFile') }}">
            {% endif %}
        </div>
    </div>
</article>
