{% extends 'front/layout.html.twig' %}

{% block body_id 'recipes_filter' %}

{% block main %}
    <h1>{{ 'title.filter_recipes'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.text) }}
    {{ form_row(form.authorRecipeLists, {'attr' : {'class': 'stXtokenField', 'data-availabeTokens': recipeLists|join('|')}}) }}
    {{ form_row(form.recipeTags, {'attr' : {'class': 'stXtokenField', 'data-availabeTokens': recipeTags|join('|')}}) }}
    {{ form_row(form.ingredients, {'attr' : {'class': 'stXtokenField', 'data-availabeTokens': form.ingredients.vars.ingredients|join('|')}}) }}
    {{ form_row(form.ingredients_exclude, {'attr' : {'class': 'stXtokenField', 'data-availabeTokens': form.ingredients_exclude.vars.ingredients|join('|')}}) }}
    {{ form_row(form.recipeRating) }}
    {{ form_row(form.private) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.filter) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.random, {'attr': {'class': ' pull-right'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
    <p class="spacer-medium">&nbsp;</p>

    {% if recipes %}
        {% for recipe in recipes %}

            {{ include('front/recipes/_recipe_rowdisplay.html.twig', {recipe: recipe})|raw }}
        {% else %}
            <div class="well">{{ 'messages.no_recipes_found'|trans }}</div>
        {% endfor %}

        {% if recipes.haveToPaginate|default(false) %}
            <div class="navigation text-center">
                {{ pagerfanta(recipes, 'twitter_bootstrap3_translated', {routeName: 'recipes_filter_paginated'}) }}
            </div>
        {% endif %}
    {% endif %}

    {% if recultRecipe %}
        {{ include('front/recipes/_recipe.html.twig', {recipe: recultRecipe}) }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ include('front/recipes/_rss.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        require("assets{{ asset('js/pages/recipes/filter.js') }}");
    </script>
{% endblock %}
