{% extends 'front/layout.html.twig' %}

{% block body_id 'recipes_news' %}

{% block main %}
    {% for recipe in recipes %}

        {{ include('front/recipes/_recipe_rowdisplay.html.twig', {recipe: recipe})|raw }}
    {% else %}
        <div class="well">{{ 'recipe.no_recipes_found'|trans }}</div>
    {% endfor %}

    {% if recipes.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(recipes, 'twitter_bootstrap3_translated', {routeName: 'recipes_news_paginated'}) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ include('front/recipes/_rss.html.twig') }}
{% endblock %}
