<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ 'action.rss'|trans }}</title>
        <description>{{ 'rss.description'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (recipes|last).publishedAt|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url('recipes_news') }}</link>
        <language>{{ app.request.locale }}</language>

        {% for recipe in recipes %}
            <item>
                <title>{{ recipe.title }}</title>
                <description>{{ recipe.summary }}</description>
                <link>{{ url('recipes_show', {'slug': recipe.slug}) }}</link>
                <guid>{{ url('recipes_show', {'slug': recipe.slug}) }}</guid>
                <pubDate>{{ recipe.publishedAt|date(format='r', timezone='GMT') }}</pubDate>
                <author>{{ recipe.author.email }}</author>
                {% for tag in recipe.recipeTags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
            </item>
        {% endfor %}
    </channel>
</rss>
