{% extends 'front/layout.html.twig' %}

{% block body_id 'admin_recipe_index' %}

{% block main %}
    <h1>{{ 'title.recipe_list'|trans }}</h1>

    <div class="list-group">
        {% for recipeList in recipeLists %}
            <a href="{{ path('recipelists_show', {slug: recipeList.slug}) }}" class="list-group-item list-group-item-action" title="{{ recipeList.name }}">{{ recipeList.name }}</a>
        {% endfor %}
    </div>
        <hr>
    <div class="list-group">

        <a href="{{ path('recipes_list_my') }}" class="list-group-item list-group-item-action">{{ 'title.all_recipes'|trans }}</a>
        <a href="{{ path('recipes_list_my', {only_without_recipe_list: 1}) }}" class="list-group-item list-group-item-action">{{ 'title.all_recipes_without_list'|trans }}</a>
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('recipes_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_recipe'|trans }}
        </a>
    </div>
    <div class="section actions">
        <a href="{{ path('recipes_import_from_link') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> {{ 'action.import_recipe_from_link'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
