{% extends 'front/layout.html.twig' %}

{% block body_id 'recipes_show' %}

{% block main %}

    {{ include('front/recipes/_recipe.html.twig') }}


    <div id="recipe-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See https://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {% if app.user %}
            {{ render(controller('App\\Controller\\CommentsController:commentForm', {'id': recipe.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('security_login') }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'messages.register_to_comment'|trans }}
            </p>
        {% endif %}
    </div>

    <div class="row">

        <div class="col-md-10 col-md-offset-1">
        {% for comment in recipe.comments %}
            <div class="row recipe-comment">
                <a name="comment_{{ comment.id }}"></a>
                <h4 class="col-sm-3">
                    <strong>{{ comment.author.fullName }}</strong>
                    <strong>{{ comment.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</strong>
                </h4>
                <div class="col-sm-9">
                    {{ comment.content|md2html }}
                </div>
            </div>
        {% else %}
            <div class="recipe-comment">
                <p>{{ 'messages.no_comments'|trans }}</p>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', recipe) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('recipes_edit', {id: recipe.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_recipe'|trans }}
            </a>
        </div>

        <div class="section">
            {{ include('front/recipes/_delete_form.html.twig', {recipe: recipe}, with_context = false) }}
        </div>
        <hr>
    {% else %}
        {% if canAddToCollection(recipe, user) %}
            <div class="section">
                <a class="btn btn-lg btn-block btn-success" href="{{ path('recipes_add_to_collection', {id: recipe.id}) }}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.add_to_collection'|trans }}
                </a>
            </div>
        {% endif %}
        {% if canRemoveFromCollection(recipe, user) %}
            <div class="section">
                <a class="btn btn-lg btn-block btn-danger" href="{{ path('recipes_remove_from_collection', {id: recipe.id}) }}">
                    <i class="fa fa-minus" aria-hidden="true"></i> {{ 'action.remove_from_collection'|trans }}
                </a>
            </div>
        {% endif %}
    {% endif %}

    <div class="section">
        <a class="btn btn-lg btn-block btn-success" href="{{ path('recipes_recipe_download_pdf', {slug: recipe.slug}) }}">
            <i class="fa fa-download" aria-hidden="true"></i> {{ 'action.download_recipe_pdf'|trans }}
        </a>
    </div>



    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}
{% endblock %}
