{#
   This is the base template of the all backend pages. Since this layout is similar
   to the global layout, we inherit from it to just change the contents of some
   blocks. In practice, backend templates are using a three-level inheritance,
   showing how powerful, yet easy to use, is Twig's inheritance mechanism.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('recipes_filter') }}">
            <i class="fa fa-search" aria-hidden="true"></i> {{ 'menu.filter_recipes'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('recipes_list_my') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.recipe_list'|trans }}
        </a>
    </li>
    {{ parent() }}


    {% if app.user and is_granted('ROLE_ADMIN') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="admin_menu">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="caret"></span>
                <span class="sr-only">{{ 'menu.admin_menu'|trans }}</span>
            </a>
            <ul class="dropdown-menu locales" role="menu" aria-labelledby="admin_menu">
                <li aria-checked="false" role="menuitem"><a href="{{ path('easyadmin') }}">{{ 'menuentries.admin.easyadmin'|trans }}</a></li>
            </ul>
        </li>
    {% endif %}


    <li>
        <a href="{{ path('recipes_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
    </li>

    {% if app.user %}
        <li>
            <a href="{{ path('user_my_profile') }}">
                <i class="fa fa-user" aria-hidden="true"></i> {{ 'menu.my_profile'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('security_logout') }}">
                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('security_login') }}">
                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'menu.login'|trans }}
            </a>
        </li>
    {% endif %}

{% endblock %}

{% block footer_content %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('recipes_recipe_recipe_of_the_day') }}">
                {{ 'menu.recipe_of_the_day'|trans }} <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
        </div>
        &nbsp;
        <div class="col-md-12">
            <a href="{{ path('recipes_new_quick') }}">
                {{ 'menu.new_quick'|trans }} <i class="fa fa-camera" aria-hidden="true"></i>
            </a>
        </div>
    </div>


{% endblock %}
