<h3>{{ 'title.recipeLists'|trans }}</h3>

<ul class="quicklinks-sidebar">
    <li><a href="{{ path('recipes_filter', {'recipe_filter[recipeTags]': 'ToCook', 'recipe_filter[private]': '1', 'recipe_filter[submit]': ''}) }}">{{ 'menu.recipes_to_cook'|trans }}</a></li>
    {% for recipelist in recipelists %}
        {% set active = (app.user.activeRecipeList.id|default(false) == recipelist.id) %}
        <li><a href="{{ path('recipelists_show', {'slug': recipelist.slug}) }}">{{ recipelist.name }}{% if active == true %} <span class="label  label-success">{{ 'label.active'|trans }} </span> {% endif %} </a></li>

    {% endfor %}
</ul>
