{% extends 'front/layout.html.twig' %}

{% import 'front/common/arrayCollection.html.twig' as arrayCollection %}
{% block body_id 'user_my_profile' %}

{% block main %}
    <h1>{{ 'title.edit_profile'|trans }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


    {{ form_row(form.fullName) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    <div class="profileimage_container">
        {{ form_row(form.imageFile) }}
    </div>

    <h2>{{ 'title.ingredient_display'|trans }}</h2>
    {{ form_row(form.ingredientDisplayPreference) }}

    {{ arrayCollection.start('ingredientDisplayPreferenceOverrides', 'title.ingredientDisplayPreferenceOverrides', [
        {class: 'col-md-5', field: form.ingredientDisplayPreferenceOverrides.vars.prototype.ingredient},
        {class: 'col-md-3', field: form.ingredientDisplayPreferenceOverrides.vars.prototype.unit},
        {class: 'col-md-3', field: form.ingredientDisplayPreferenceOverrides.vars.prototype.displayPreference},
    ]) }}

    {% for override in form.ingredientDisplayPreferenceOverrides %}
        {{ arrayCollection.line([
            {class: 'col-md-5', field: override.ingredient},
            {class: 'col-md-3', field: override.unit},
            {class: 'col-md-3', field: override.displayPreference},
        ]) }}
    {% endfor %}

    {{ arrayCollection.end(form.ingredientDisplayPreferenceOverrides) }}
    {{ form_row(form.submit, {'attr': {'class': 'btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require("assets{{ asset('js/pages/user/my_profile.js') }}");
    </script>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

