{% extends 'front/layout.html.twig' %}

{% import 'front/common/arrayCollection.html.twig' as arrayCollection %}
{% block body_id 'user_profile' %}

{% block main %}
    <h1>{{ 'title.profile'|trans }}</h1>

    <h2>{{ user.fullName }}</h2>
    {% if user.imageFile is defined %}
    <img class="profileimage" src="{{ vich_uploader_asset(user, 'imageFile') }}">
    {% endif %}



    <p>&nbsp;</p>
    <h2>{{ 'title.recipe_list'|trans }}</h2>
    {% for recipe in user.recipes %}

        {% if not recipe.private %}
            {{ include('front/recipes/_recipe_rowdisplay.html.twig', {recipe: recipe})|raw }}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require("assets{{ asset('js/pages/user/my_profile.js') }}");
    </script>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

